In [2]:
ford_quote = "Whether you think you can, or you think you can\'t--you\'re right."
print(ford_quote)

Whether you think you can, or you think you can't--you're right.

In [12]:
Planet = "Earth"
planet = "jupiter"

print(Planet,planet)

Earth jupiter

In [13]:
student = [
                  [
                     "Sujit",
              [
                "15120245",3.14,8,
                [
                  "CSE215","MAT250"
                ]
             ]
          ],
              [
                  "Ali",
                [
                    "1212563"
                ]
              ],
              
        [
        "",
               [
                   "Bad"
               ]
         ]
        ]
print(student[0][1][3][1])

MAT250

In [15]:
student = [["Sujit",["15120245",3.14,8,["CSE215","MAT250"]]],
              ["Ali",["1212563"]],
              ["",["Bad"]]
          ]
print(student[0][1][3][1])

MAT250

In [21]:
location=(13.4215,103.86676)
print("Latitude:",location[0])
print ("longitude:",location[1])

Latitude: 13.4215
longitude: 103.86676

In [22]:
dimension = 52,40,100
print(dimension)
length,width,height=dimension
print(length)
print(width)
print(height)

(52, 40, 100)
52
40
100

In [25]:
numbers=[1,2,3,1,4,1,6]
print (numbers)
print(sum(numbers))
number_set=set(numbers)
print(number_set)

[1, 2, 3, 1, 4, 1, 6]
18
{1, 2, 3, 4, 6}

In [28]:
new_set={9,"one",7,"two"}
number_set.update(new_set)
print(number_set)

{1, 2, 3, 4, 'two', 6, 7, 9, 'one'}

In [30]:
population={
    
    'shangai':17.4,
    'istanbul':13.3,
    'karachi':13.0,
    'mumbai':12.5,
    
}
print(population)

{'shangai': 17.4, 'istanbul': 13.3, 'karachi': 13.0, 'mumbai': 12.5}

In [31]:
population['shangai']={
    'country':'china',
    'population':17.4
}
print(population)

{'shangai': {'country': 'china', 'population': 17.4}, 'istanbul': 13.3, 'karachi': 13.0, 'mumbai': 12.5}

In [37]:
answer = 50
guess =int(input())

if(guess<answer):
    result="too low"
elif(guess>answer):
    result="too high"
elif(guess==answer):
    result="nice! matched"
else:
    result ="invalid"
    
    
print(result)

50
nice! matched

In [39]:
colors =['red','blue','green']

if('red'in colors):
    print("color exist")
else:
    print("color doesnt exist!")

color exist

In [42]:
verse = "if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"

words = verse.split()
print(words)

print(len(words))
words_set = set(words)

print(words_set)
print(len(words_set))

['if', 'you', 'can', 'keep', 'your', 'head', 'when', 'all', 'about', 'you', 'are', 'losing', 'theirs', 'and', 'blaming', 'it', 'on', 'you', 'if', 'you', 'can', 'trust', 'yourself', 'when', 'all', 'men', 'doubt', 'you', 'but', 'make', 'allowance', 'for', 'their', 'doubting', 'too', 'if', 'you', 'can', 'wait', 'and', 'not', 'be', 'tired', 'by', 'waiting', 'or', 'being', 'lied', 'about', 'don’t', 'deal', 'in', 'lies', 'or', 'being', 'hated', 'don’t', 'give', 'way', 'to', 'hating', 'and', 'yet', 'don’t', 'look', 'too', 'good', 'nor', 'talk', 'too', 'wise']
71
{'deal', 'men', 'for', 'hating', 'head', 'good', 'doubt', 'keep', 'blaming', 'waiting', 'if', 'can', 'being', 'give', 'way', 'and', 'but', 'when', 'their', 'lies', 'to', 'your', 'theirs', 'in', 'yet', 'by', 'nor', 'losing', 'trust', 'look', 'wait', 'be', 'it', 'lied', 'too', 'you', 'on', 'doubting', 'hated', 'not', 'are', 'allowance', 'don’t', 'wise', 'tired', 'talk', 'or', 'all', 'make', 'yourself', 'about'}
51

In [51]:
state = 'CA'
purchase_amount =120

if state =="CA":
    tax_amount = 0.075
    total_cost = purchase_amount*(1+tax_amount)
    result = "since you are from{}, your total cost is{}".format(state,total_cost)
    
elif state =="MW":
    tax_amount = 0.095
    total_cost = purchase_amount*(1+tax_amount)
    result = "since you are from{}, your total cost is{}".format(state,total_cost)
    
elif state =="NY":
    tax_amount = 0.089
    total_cost = purchase_amount*(1+tax_amount)
    result = "since you are from{}, your total cost is{}".format(state,total_cost)

print(result)

since you are fromCA, your total cost is129.0