## Lists

In [176]:
# Lists can be heterogenous
favorites = []

# Appending
favorites.append(42)
print(favorites)

# Extending
favorites.extend(['Python' , True])
print(favorites)

# Equivalent to
favorites = [42 , 'Python' , True]
print(favorites)

# favorites = favorites.sort()
# print(favorites)
# print(favorites.reverse())
# print(favorites)

favorites.pop(0)
print(favorites)

print(favorites.index(True))

favorites.remove('Python')
print(favorites)

favorites.insert(0,42)
favorites.insert(0,72)
print(favorites)

new_favorites = []
new_favorites = favorites.copy()
favorites.clear()
print(favorites)
print(new_favorites)

new_favorites.remove(42)
print(new_favorites)

[42]
[42, 'Python', True]
[42, 'Python', True]
['Python', True]
1
[True]
[72, 42, True]
[]
[72, 42, True]
[72, True]

In [185]:
student = [["Sujit",["This food is good",0,15,[14,25]]],
              ["Ali",["Average"]],
              ["Swapan",["Bad"]]
          ]
print(student[0][1][3][1])

25

## Tuple

In [170]:
location = (13.4125, 103.866667)
# location[0] = 14.45

print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

## Tuples packing and unpacking

In [186]:
dimensions = 52, 40, 100
print((dimensions))
length, width, height = dimensions
# print(type(length))
print("The dimensions are {} x {} x {}".format(dimensions[0],dimensions[1], dimensions[2]))

(52, 40, 100)
The dimensions are 52 x 40 x 100

In [131]:
# What would the output of the following code be? 
tuple_a = 1, 2
tuple_b = (1, 2)

print(tuple_a == tuple_b)
print(tuple_a[1])

True
2

In [174]:
my_tuple = (4, 2, 3, [6, 5])
# my_tuple[1] = 9
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)
# Tuples can be reassigned
my_tuple = ('p','r','o','g','r','a','m','i','z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)


# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

my_tuple = ('p','r','o','g','r','a','m','l','z')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)


print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'l', 'z')
1
7

## Set

In [188]:
numbers = [1, 2, 6, 3, 1, 1, 6]
print(sum(numbers[-4:]))
unique_nums = set(numbers)
print(unique_nums)

11
{1, 2, 3, 6}

## Update a set

In [147]:
fruits = {"apple", "banana", "cherry"}
unique_nums.update(fruits)
print(unique_nums)

{1, 2, 3, 'apple', 'cherry', 6, 'banana'}

## Remove item from the set

In [148]:
unique_nums.remove("apple")
print(unique_nums)

{1, 2, 3, 'cherry', 6, 'banana'}

## Pop items from the set

In [149]:
x = unique_nums.pop()
print(x)
print(unique_nums)

1
{2, 3, 'cherry', 6, 'banana'}

## Clear items from the set

In [150]:
unique_nums.clear()
print(unique_nums)

set()

## Delete the set

In [151]:
del unique_nums
# print(unique_nums)

In [155]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

## Difference between two sets

In [157]:
unique_nums.difference(thisset)

{1, 2, 3, 6}

In [ ]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

## Dictionaries

In [ ]:
population = {'Shanghai' : 17.8, 'Istanbul' : 13.3, 'Karachi' : 13.0, 'Mumbai' : 12.5}
# population.clear()
# population.pop('Shanghai')
# print(type(population.keys()))
population.update()
print(population)

In [166]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [125]:
color = ['red', 'blue', 'red', 'green', 'blue', 'blue']
count = {}
for word in color:
    if word not in count:
        count[word] = 1
    else:
        count[word] += 1
print(count)

{'red': 2, 'blue': 3, 'green': 1}

In [130]:
book_title=['great', 'expectations' , 'the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [32]:
student = {1420412 : "Shahin", 1223001 : "Sharif", 1510231 : "Asif", 1712562 : "Nahian"}
print(student)
student[1420412] = {'name' : "Shahin", 'cgpa' : 2.78}
print(student)

{1420412: 'Shahin', 1223001: 'Sharif', 1510231: 'Asif', 1712562: 'Nahian'}
{1420412: {'name': 'Shahin', 'cgpa': 2.78}, 1223001: 'Sharif', 1510231: 'Asif', 1712562: 'Nahian'}

##  Nested Dictionaries

In [ ]:
### 1A: Create dictionary with the count of Oscar nominations for each director 
nom_count_dict = {}
# Add your code here
for year, name in nominated.items():
    for director in name:
        if director not in nom_count_dict:
            nom_count_dict[director] = 1
        else:
            nom_count_dict[director] +=1


print("nom_count_dict = {}\n".format(nom_count_dict))


### 1B: Create dictionary with the count of Oscar wins for each director
win_count_dict = {}
# Add your code here
for year, name in winners.items():
    for director in name:
        if director not in win_count_dict:
            win_count_dict[director] = 1
        else:
            win_count_dict[director] +=1
        


print("win_count_dict = {}".format(win_count_dict))

In [104]:
# Merge two dictionaries and add values of common key
from collections import OrderedDict
# Create first dictionary
dict1 = {  'Ritika': 5, 'Sam': 7, 'John' : 10 }
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }
dict3 = {**dict1, **dict2}
print(dict3)
for key, value in dict3.items():
       if key in dict1 and key in dict2:
               dict3[key] = [value , dict1[key]]


OrderedDict(**dict3)

{'Ritika': 5, 'Sam': 20, 'John': 10, 'Aadi': 8, 'Mark': 11}

OrderedDict([('Ritika', 5),
             ('Sam', [20, 7]),
             ('John', 10),
             ('Aadi', 8),
             ('Mark', 11)])

In [87]:
a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
b = set(a)
b.add(5)
b.pop()
# print(b)

{2, 3, 4, 5}

In [44]:
weather = "sunny"
if weather == "snow" or "rain":
    print( "Wear boots!")

In [82]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
num_sum = 0
count = 0
for x in numbers:
    num_sum = num_sum + x
    count = count + 1 
    if count == 5:
        break
print("Sum of first ",count,"integers is: ", num_sum)

Sum of first  5 integers is:  15

In [80]:
number = int(input("Enter your number: "))
 
if(number % 3 == 0 and number % 5 == 0):
    print("{} is divisible by both {} , {}".format(number,3,5))
if(number % 3 == 0 or number % 5 == 0):
    if number % 3 == 0:
        print("{} is divisible by {}".format(number,3))
    elif number % 5 == 0:
        print("{} is divisible by {}".format(number,5))
# elif():
#     print("{} is divisible by {} ".format(number,5))

SyntaxError: 'break' outside loop (<ipython-input-80-678f117aa8f7>, line 10)

In [2]:
# To find the ASCII value of a character use the ord() function.

ord('B')

# To get a character from it's ASCII value use the chr() function.

chr(65)

'A'

In [3]:
ord('acb')  #accept only character not string

TypeError: ord() expected a character, but string of length 3 found

In [7]:
# import string library function 
import string 
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789

In [13]:
#  curses.ascii — Utilities for ASCII characters
#  https://docs.python.org/3/library/curses.ascii.html#module-curses.ascii