# String

In [ ]:
a = "Hey"
b = "Hey there!"
c = "742 Evergreen Terrace"
d = "1234"
e = "'How long is a piece of string?' he asked"
f = "'!$*#@ you!' she replied"

In [ ]:
a = "Hey"
print(len(a))

In [ ]:
print(1+2)
print("1"+"2")

In [ ]:
a = "pic123"
b = "21344"
print (a.isnumeric())
print (b.isnumeric())

In [182]:
e = "Once again he asked \"How long  is \\ a piece of string?\""
print(e)

Once again he asked "How long  is \ a piece of string?"

Escape Sequence

In [173]:
msg = "ATTENTION!\nFor those about to rock, we salute you!"
print(msg)

ATTENTION!
For those about to rock, we salute you!

# Triple Quotes

msg = """This string
spans
multiple lines"""
print(msg)

msg = '''This string
spans
multiple lines'''
print(msg)

In [ ]:
planet = "Jupiter"
print(planet[2])

# String Formatting Operator

In [176]:
print("Hello %s, you scored %i out of %i" % ("Homer", 3, 100.00))

Hello Homer, you scored 3 out of 100.000000

In [ ]:
with open("test.txt",'w',encoding = 'utf-8') as f:
    f.write("my first file\n")
    f.write("This file\n\n")
    f.write("contains three lines\n")

x = 10
x /= 5
print(x)

In [ ]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall =

# add the rainfall variable to the reservoir_volume variable
reservoir_volume 

# increase reservoir_volume by 5% to account for stormwater that flows into the reservoir in the days following the storm
reservoir_volume+=reservoir_volume*.05


# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume =

# subtract 2.5e5 cubic metres from reservoir_volume to account for water that's piped to arid regions.
reservoir_volume = 

# print the new value of the reservoir_volume variable
print(reservoir_volume)

In [161]:
with open("movie_Information.txt",'r') as f:
    movies = f.read()
    with open ("Actors_Information.txt",'w') as m:
        print(movies)
        m.write(movies)
        
#         for movie in movies:
#             actor_name = (movie.split(":")[2])
#             movie_name = (movie.split(":")[0])
#             m.write(actor_name.strip() + " : " + movie_name.strip() + '\n')

Braveheart : Mel Gibson : Mel Gibson : 1995 : $75.60M
The Terminal : Steven Spielberg : Tom Hanks : 2004 : $77.87M
The Green Mile : Frank Darabont : Tom Hanks : 1999 : $136.80M
The Hateful Eight : Quentin Tarantino : Samuel L. Jackson : 2015 : $155.8M
The Godfather : Francis Ford Coppola : Al Pacino : 1972 : $134.97M
The Shawshank Redemption : Frank Darabont : Morgan Freeman : 1994 : $28.34M
Schindler's List : Steven Spielberg : Liam Neeson : 1993 : $96.07M
Vertigo : Alfred Hitchcock : James Stewart : 1958 : $3.20M
Forrest Gump : Robert Zemeckis : Tom Hanks : 1994 : $330.25M
12 Angry Men : Sidney Lumet :  Henry Fonda : 1957 : $4.36M
The Silence of the Lambs : Jonathan Demme : Anthony Hopkins  : 1991 : $130.74M
It's a Wonderful Life : Frank Capra :  James Stewart: 1946 : $5.05M
Amadeus : Milos Forman : F. Murray Abraham : 1984 : $51.97M
Gladiator : Ridley Scott :  Russell Crowe: 2000 : $187.71M
Titanic : James Cameron : Leonardo DiCaprio : 1997 : $659.33M
Saving Private Ryan : Steven Spielberg : Tom Hanks: 1998 : $216.54M
An American in Paris : Vincente Minnelli : Gene Kelly : 1951 : $4.50M
The Best Years of Our Lives : William Wyler : Myrna Loy : 1946 : $23.65M
A Clockwork Orange : Stanley Kubrick : Malcolm McDowell : 1971 : $26.5M
Doctor Zhivago : David Lean : Omar Sharif : 1965 : $111.72M
Jaws : Steven Spielberg : Roy Scheider : 1975 : $260.00M
Patton : Franklin J. Schaffner : George C. Scott : 1970 : $61.70M
A Streetcar Named Desire : Elia Kazan : Vivien Leigh : 1951 : $8.00M
Rocky : John G. Avildsen : Sylvester Stallone : 1976 : $117.24M
Raiders of the Lost Ark : Steven Spielberg : Harrison Ford : 1981 : $248.16M
Unforgiven : Clint Eastwood : Clint Eastwood : 1992 : $101.16M
From Here to Eternity : Fred Zinnemann : Burt Lancaster : 1953 : $30.50M
The Lord of the Rings- The Return of the King : Peter Jackson: Elijah Wood: 2003 : $377.85M
Apocalypse Now : Francis Ford Coppola : Martin Sheen : 1979 : $83.47M
Dances with Wolves : Kevin Costner : Kevin Costner : 1990 : $184.21M
On the Waterfront : Elia Kazan : Marlon Brando : 1954 : $9.60M
Ben-Hur : William Wyler : Charlton Heston : 1959 : $74.70M
Singin' in the Rain : Stanley Donen : Gene Kelly : 1952 : $8.82M
The Bridge on the River Kwai : David Lean : William Holden : 1957 : $44.91M
Chinatown : Roman Polanski : Jack Nicholson : 1974 : $29.20M
E.T. the Extra-Terrestrial : Steven Spielberg : Henry Thomas : 1982 : $435.11M
A Space Odyssey : Stanley Kubrick : Keir Dullea : 1968 : $56.95M
West Side Story : Jerome Robbins : Natalie Wood : 1961 : $43.66M
The Sound of Music : Robert Wise : Julie Andrews : 1965 : $163.21M
Psycho : Alfred Hitchcock : Anthony Perkins : 1960 : $32.00M
Lawrence of Arabia : David Lean : Peter O'Toole : 1962 : $44.82M
One Flew Over the Cuckoo's Nest : Milos Forman : Jack Nicholson : 1975 : $112.00M
Gone with the Wind : Victor Fleming : Clark Gable : 1939 : $198.68M
Citizen Kane : Orson Welles : Orson Welles: 1941 : $1.59M
Casablanca : Michael Curtiz : Humphrey Bogart : 1942 : $1.02M
Raging Bull : Martin Scorsese : Robert De Niro : 1980 : $23.38M
The Good, the Bad and the Ugly : Sergio Leone : Clint Eastwood: 1966 : $6.10M
Platoon : Oliver Stone : Charlie Sheen: 1986 : $138.53M
High Noon : Fred Zinnemann : Gary Cooper : 1952 : $9.45M
Jurassic Park : Steven Spielberg : Sam Neill: 1993 : $402.45M

In [145]:
with open("movie_Information.txt",'r') as f:
    movies = f.readlines()
#     print(movies)
    with open ("Actors_Information.txt",'w') as m:
        for movie in movies:
#             print((movie))
            actor_name = movie.split(":")
            print((actor_name))

In [111]:
with open ("Actors_Information.txt",'r') as m:
    info = m.read().splitlines()
    count = 0
    for i in range(0,len(info)):
        actor, movie = info[i].split(":")
        if (actor.count("Tom Hanks")) == True:
            count+=1
    print(count)

4

In [78]:
a = "Hi %s" % (123)
print(type(a))

<class 'str'>

In [79]:
a = "bee" 
b = a.center(12, "-")
print(b)

----bee-----

In [113]:
1/7

0.14285714285714285

In [149]:
hl = 0.14285714285714285
print("{:.4f}".format(hl))

0.1429

In [163]:
sum = 12
print(sum)

12

In [164]:
m = (1/3 + 1/3)

In [172]:
nm = 1400000000000000
print(type(nm))

<class 'int'>

In [167]:
string = "hello"
print(repr(string))

'hello'